.App {
  text-align: center;
  background-color: rgb(26, 88, 88);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.filter-form{
  margin-top: 1rem;
}

.search-title{
  margin-top: 2rem;
  font-style: italic;
}

.post-thumb span {
  font-size: small;
}

.post-thumb h4:hover, .post-thumb span:hover {
  color: gray;
}

.footer-item:hover{
  color: aliceblue !important;
}

.post-thumb .author-link {
  color: black
}

.profile-links .dropdown-item:hover{
  background: rgb(86, 142, 248);
}

.signup button, .signin button{
  min-height: 3rem;
}

.mouse-pointer{
  cursor: pointer;
}

.navbar-brand{
  transition: all .2s ease-in-out;
}

.navbar-brand:hover{
  transform: scale(1.05);
}

.frontpage-flyer{
  width: 100%;
  min-height: 300px;
}

.flyer {
  padding: 0;
}

.jumbotron {
  background: #343a40;
}

.jumbotron p, .jumbotron h1{
  color: white;
}