.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.filter-form{
  margin-top: 1rem;
}

.search-title{
  margin-top: 2rem;
  font-style: italic;
}

.post-thumb span {
  font-size: small;
}

.post-thumb h4:hover, .post-thumb span:hover {
  color: gray;
}

.footer-item:hover{
  color: aliceblue !important;
}

.post-thumb .author-link {
  color: black
}

.profile-links .dropdown-item:hover{
  background: rgb(86, 142, 248);
}

.signup button, .signin button{
  min-height: 3rem;
}

.mouse-pointer{
  cursor: pointer;
}

.navbar-brand{
  transition: all .2s ease-in-out;
}

.navbar-brand:hover{
  transform: scale(1.05);
}

.frontpage-flyer{
  width: 100%;
  min-height: 300px;
}

.flyer {
  padding: 0;
}

.jumbotron {
  background: #343a40;
}

.jumbotron p, .jumbotron h1{
  color: white;
}

.sign-in-group{
  padding-bottom: 1.25rem;
}

.signin{
  max-width: 600px;
}

#signin, #signup{
  background: #343a40;
  color: #909aa0;
}

#signin i{
  background: #343a40;
  color: #f0faf0;
}

.terms-form {
  padding-bottom: 1rem;
}

#signup a{
  color: #f0faf0;
}

#signup button{
  width: 60%;
  max-width: 600px;
  text-align: center;
  margin: 0 !important;
}

#addPostForm {
  background: #282c34;
  padding-bottom: 15%;
  padding-top: 15%;
}

#addPostForm button{
  width: 60%;
  max-width: 400px;
}

#addPostForm h1{
  color: #707a80;
  text-align: center;
}

#addPostForm .fas{
  color: #f0faf0;
}

#notification{
  margin: 0 !important;
}