.buttoni {
    margin-left: 10px;
    max-height: 30px;
    margin-top: 5px;
    background-color: gray;
    border-color: black;
    color: white;

}
.posts {
    margin-top: 20px;
    margin-right: 300px;
}

.header4 {
    margin-top: 20px;
}

.header5{
    margin-bottom: 10px;
    margin-top: 10px;
}

.postaus {
    width: 100%;
}
.lirumLarum {
    padding: 0 !important;

}
.kuva1 {
    height: 300px;
}

.profiili {
    margin-top: 20px;
    border: 1px solid black;
    width: 40%;
    margin-left: 650px;
    border-width: 5px;

}
.profiilikuva {
    height: 275px;
}
.text {
    text-align: left;
    margin-left: 100px;
}