
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
    background: #343A40;
}
.header h1 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

}

.faqs {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 15px;
}

.faqs .faq {
    margin: 15px;
    padding: 15px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-kysymys {
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    color: #09d3ac;
    transition: all 0.4s ease;
}

.faqs .faq .faq-kysymys::after {
    content: '';
    position: absolute;
    top: 60%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;

    background-image: url('../img/Sieppaa.PNG');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: all 0.4s ease-out;
}

.faqs .faq .faq-vastaus {
    opacity: 0;
    color: #09d3ac;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease-out;
}

.faqs .faq.auki .faq-kysymys {
    margin-bottom: 12px;
}

.faqs .faq.auki .faq-kysymys::after {
    transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.auki .faq-vastaus {
    max-height: 900px;
    opacity: 1;
}