
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
}

.header h1 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

}

.faqs {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

.faqs .faq {
    margin: 15px;
    padding: 15px;
    background-color: #242a30;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-kysymys {
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    color: #909aa0;
    transition: all 0.4s ease;
}

.faqs .faq .faq-kysymys::after {
    content: '';
    position: absolute;
    top: 60%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;

    background-image: url('../img/Sieppaa.PNG');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: all 0.4s ease-out;
}

.faqs .faq .faq-vastaus {
    opacity: 0;
    color: #808a90;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease-out;
}

.faqs .faq.auki .faq-kysymys {
    margin-bottom: 12px;
    transition: 1s;
}

.faqs .faq.auki .faq-kysymys::after {
    transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.auki .faq-vastaus {
    max-height: 900px;
    opacity: 1;
}

.about {
    margin-bottom: 0;
    padding-bottom: 5rem;
}

.faq-kysymys:hover{
    color: #f0faf0 !important;
}

#faq-h {
    padding-left: 1.5rem !important;
    color: #909aa0 !important;
}

.about  .header-team {
    color: #f0faf0 !important;
}

.contact-info{
    background: #242a30;
    border-radius: 2px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#contact-form button{
    justify-content: right !important;
}