.carousel-item img {
    width: 100% !important;
    max-height: 650px !important;
}

body {
    background-color: beige !important;
}

.marketing{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-image{
    max-height: 200px;
    max-width: 200px;
}

.signin{
    padding-top: 250px;
    padding-bottom: 300px;
}

.signup{
    padding-top: 150px;
    padding-bottom: 180px;
}

