.carousel-item img {
    width: 100% !important;
    max-height: 650px !important;
}

body {
    background-color: #09d3ac !important;
}

.marketing{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-image{
    max-height: 200px;
    max-width: 200px;
}