.frontpage, #search-container, .hidden,
.about, .newPostContainer, .feedContainer {
    background-color: #141a20 !important;
}

.newPostContainer, .feedContainer, .about,
footer{
    text-align: center;
}

#search-container .search-title {
    color: #f0faf0;
    margin: 0;
    padding-top: 1rem;
}

#search-container{
    margin-bottom: 0;
    padding-bottom: 1.5rem;
}

.marketing{
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.marketing .col-lg-4 {
    background: #303a40;
    border-radius: 2px;
    padding: 1.5rem;
}

.marketing .col-lg-4 p{
    color: #808a90 !important;
}

.marketing h2{
    color: #f0faf0;
}

.card-image{
    max-height: 200px;
    max-width: 200px;
}

.signin{
    padding-top: 250px;
    padding-bottom: 300px;
}

.signup{
    padding-top: 150px;
    padding-bottom: 180px;
}

.flyer {
    position: relative;
    text-align: center;
    color: white;
  }

.flyer img{
    opacity: .4 !important;
}

/* Centered text */
.flyer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#expand-button{
    min-width: 100%;
    max-width: 100%;
    font-size: x-large !important;
    border: none;
    background: none;
    color: #141a20;
    transition: 1.3s;
}

#expand-button:hover{
    background: #242a30;
    color: #f0faf0;
    transition: 1.3s;
}

#expand-button:focus { outline: none; }

.collapse-section .collapsed {
    background: #343a40 !important;
    color: #707a80 !important;
    border-bottom: 2px solid #242a30 !important;
}

.collapsed .fa-arrow-down {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
    transition: 1.3s;
}

.frontpage .btn {
    transition: 0.8s !important;
}

.user-container .row{
    padding: 0 !important;
}

.user-container img{
    height: 100%;
    object-fit: cover;
}

.user-card{
    background: #242a30 !important;
    border: solid 1px #343a40;
    border-radius: 3px;
}

.user-card h3{
    color: #f0faf0;
}

.user-card p{
    color: #909aa0;
}

.newPostContainer, .feedContainer{
  
}