.hidden {
  display: none;
}

.error {
  border: 2px solid red;
  background-color: rgb(209, 114, 114);
  color: rgb(85, 12, 12);
}

.success {
  border: 2px solid green;
  background-color: yellowgreen;
  color: seagreen;
}

div span {
  font-size: large;
}