*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}


.userBox{

    margin-left: 700px;
    width: 25%;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.userBox .vasen{
    width: 50%;
    background-image: linear-gradient(43deg,#4158d0 0%, violet 30%,#ffcc70 66%);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.userBox .vasen img{
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40%;
    width: 100%;
}


.userBox .oikea{
    width: 65%;
    background: whitesmoke;
    padding: 25px 25px;
}


.userBox .oikea .info_data,
.userBox .oikea .projects_data{
    display: flex;
    justify-content: space-between;
}





