.single-user
 {
    background: #242a30;
}

.single-user-container{
    padding-top: 5%;
    padding-bottom: 5%;
}

.single-user .profile-img{
    max-height: 300px;
    max-width: 300px;
}

.single-user-card,
.single-user-description{
    background: #141a20;
    color: #707a80;
}

.single-user-top{
    max-width: 300px;
}

.single-user-bottom {
    padding-top: 5%;
    padding-bottom: 15%;
    max-height: 300px;
}

.user-profile-title {
    padding-bottom: 7%;
    color: #b0bac0;
}

.single-user-description{
    padding: 1rem;
    border-radius: 2px;
    margin-top: 1.5rem;
}

.single-user-posts-container{
    background: #141a20;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.single-user-posts-title{
    color: #909aa0;
}

.single-no-posts{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #606a70;
}

/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}
.styling {
    margin-top: 20px;
    margin-bottom: 20px;
}

.userBox{

    margin-left: 700px;
    width: 25%;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.userBox .vasen{
    width: 50%;
    background-image: linear-gradient(43deg,#4158d0 0%, violet 30%,#ffcc70 66%);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.userBox .vasen img{
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40%;
    width: 100%;
}


.userBox .oikea{
    width: 85%;
    background: whitesmoke;
    padding: 25px 25px;
}


.userBox .oikea .info_data,
.userBox .oikea .projects_data{
    display: flex;
    justify-content: space-between;
}
*/




