body Team {

    background-color: #09d3ac;
    margin: 0;
    font-family: sans-serif;

}

.team-card {
    background-color: #242a30 !important;
    height: 420px;
    width: 300px;
    top: 0;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    border: solid 1px #343a40;
    padding: 0;
    margin-bottom: 1rem;
}

.upper {
    height: 150px;
    width: 100%;
    background-color: #4158d0;
    background-image: linear-gradient(43deg,#4158d0 0%, violet 30%,#ffcc70 66%);
    border-radius: 3px 3px 0px 0px;

}
.kuva{
    max-width: 125px;
    border-radius: 50%;
    position: relative;
    top:80px;
    border:2px solid #666;
    outline: none;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.team-card-title {
    padding-top: 55px;
    color:#909aa0;
    text-align: center;
    position: relative;
    top:30px;
    top: 10px;
}
.details {
    position: relative;
    top:5px;
    font-size: 18px;
    color: #808a90;
    padding-left: 1rem;
    padding-right: 1rem;
}
.details i{
    margin-left: 10px;
    margin-bottom: 2px;

}


div Team{
    width: 70px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}
div container {
    margin-bottom: 30px;

}
.margin {
    margin-bottom: 15px;
}

.details i {
    color: #909aa0 !important;
}

.details .text-small {
    font-size: small;
}

.contact-form-text{
    text-align: left !important;
}

.contact-info-text{
    color: #808a90;
}

.no-bg-contact{
    background: none !important;
}